<!DOCTYPE html>
<html lang="en">

<head>
  {% load staticfiles %}
  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'polls/css/baseline.css' %}">
  <meta charset="UTF-8">
  <title>{% block title %}MySite{% endblock %}</title>


</head>

<body>
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>-->
  <!--<script src="{% static 'polls/js/filingsAndSearch.js' %}"></script>-->

  <body>
    <div class="top">
      {% block sidebar %}
      <form action="/polls/search/" method="get">
        {% csrf_token %}
        
        <!--<label for="search">Search: </label>-->
        <input id="search" type="text" name="search_form" value="{{ search_prefill }}">
        <input type="submit" value="OK">
      </form>
      {% endblock %}
    </div>

    <div class="leftbar">
        {% block leftbar %}
      <a class="active" href="#home">HOME</a>
      <!-- Get the symbol in JS and then populate this link to filings of current symbol -->
      <a href ="/polls/filings/{{ symbol }}/">FILINGS</a>
      <a href="#contact">CONTACT</a>
      <a href="#about">ABOUT</a>
      {% endblock %}
    </div>

    
    <div class="contents">
      {% block contents %}
      
      {% endblock %}
    </div>



  </body>

</body>

</html>