<!DOCTYPE html>
<html lang="en">
<head>
        {% load staticfiles %}
        {% load static %}
        
    <meta charset="UTF-8">
    <title>Filing Types</title>
</head>
<body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="{% static 'polls/js/filingCategoriesBySymbols.js' %}"></script>
        
    <ul>
        {% for filing in filings %}
            <li ><a id="filingType" href="/polls/filings/{{ filing }}">{{ filing }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
    