{% extends "polls/baseline.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
        {% load staticfiles %}
        {% load static %}
        
    <meta charset="UTF-8">
    <title>Filing Types</title>
</head>
<body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="{% static 'polls/js/filingCategoriesBySymbols.js' %}"></script>
        
    <!--{{contents}}-->
    <div class="contents">
        {% block contents %}
    
        <ul>
        {% for item in dirsFilings %}
            <li ><a id="filingType" href="/polls/filings/{{ item }}">{{ item }}</a></li>
        {% endfor %}
        </ul>
        {% endblock %}
    </div>

</body>
</html>
    