body {
  font-family: Arial, Helvetica, sans-serif;
}

.top { 
  position:absolute;
  left:0; top:0%; bottom: 0%;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #113228;
  height: 10%;
  overflow: auto;
}

input.search { /*Added to move search in TOP to RHS */
  margin-left: 85%;
}

.leftbar {
  position:absolute;
  left:0; top:10%; bottom: 0%;
  margin: 0;
  padding: 0;
  width: 10%;
  background-color: lightseagreen;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.leftbar a {
  display: block;
  color: black;
  padding: 12px;
  text-decoration: none;
}

/* Active/current link */
.leftbar a.active {
  background-color: orangered;
  color: white;
}

/* Links on mouse-over */
.leftbar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.contents {
  position:absolute;
  left:10%; top:10%; bottom: 0;
  margin: 1px;
  padding: 0;
  width: 80%;
  background-color: lightgrey;
  height: 100%;
  overflow: auto;
}

table {
  border-collapse: collapse;
  background-color:"#cccccc"
}

th, td {
  padding: 1px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  font-family: Calibri;
  height: 15px;
  width: 20px;
}

tr:nth-child(odd) {background-color: #f2f2f2;}
tr:nth-child(even) {background-color: whitesmoke;}

th {
  background-color: #113228;
  color: white;
}

th:hover{
  cursor:pointer;
  background:orangered;
}

tr:hover{
  background:#eac2b9;
  color: white;
  font-weight: bold;
}


  .rightbar {
    position:absolute;
    right:0; top:10%; bottom: 0; 
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    height: 100%;
    overflow: auto;
  }

  .rightbar a {
    display: block;
    color: black;
    padding: 8px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .rightbar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Links on mouse-over */
  .rightbar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

  

